<div class="row">
    <div class=" col-sm-3">
    <div class="card" style="width: 100%;">
        <div class="card-header">
          <strong>API List</strong>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="cursor: pointer;" class="list-group-item" *ngFor="let apiitem of apilist; let i =  index" (click)="onSelecApi(apiitem.apilink, i)"
            [class.selected]="apiitem === selectedApi">
            <!-- {{ i }} -->
            {{ apiitem.title }}
            <!-- ({{ apiitem.apilink }}) --></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-9">
        <div class="card" style="width:100%">
            <div class="card-header">
              API Response
            </div>
            <div class="card-body">
                <div class="api-details"> 
                   <!-- {{ this.ApiData }}-->
                   <div *ngIf="!this.ApiData">Kindly select an API from the list</div>
                   <div *ngIf="this.ApiData"><pre [innerHTML]=this.syntaxHighlight(this.ApiData)></pre></div>
                   <!-- <div *ngIf="this.ApiData">{{ this.ApiData }}</div> -->
                   <!-- <div *ngIf="this.ApiData"><ngx-json-viewer [json]="this.ApiData"></ngx-json-viewer></div> -->
                  </div>
            </div>
          </div>
       <!-- <ng-template *ngIf="this.ApiData == ''">Kindly select an API from the list</ng-template>
        -->
      
        <!-- <app-api-details [loadDetails]="loaddata"></app-api-details> -->
    </div>
</div>
