<header class="header py-1">
    <div class="container-fluid">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4">
        <img src="./assets/images/NvizionSolutions-logo.png" alt="" />
      </div>
      <div class="col-4 text-center">
        <span class="header-logo text-dark">Commerce Tools API Integration View</span>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center" >
        <!-- <a class="btn btn-sm btn-outline-secondary" *ngIf="!authService.isLoggedIn()">Sign up</a> -->
        <a class="btn btn-sm btn-outline-secondary" (click)="logout()" *ngIf="authService.isLoggedIn()" >Logout</a>
      </div>
    </div>
</div>
  </header>