<br>
  <div class="login">
    <h2 class="login-header">Log in</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.client_id.errors }">
        <input type="text" placeholder="Client Id" formControlName="client_id" value="QQtu3DqDTY1OkFQG19u6Bnkm">
      </p>
  
      <div *ngIf="isSubmitted && formControls.client_id.errors" class="help-block">
        <div *ngIf="formControls.client_id.errors.required">Username is required</div>
      </div>
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.client_secret.errors }">
        <input type="password" placeholder="CLIENT_SECRET" formControlName="client_secret" value="f4tvyOdSOcaWkkxOvpXHHUPMr_3c8ZTM">
      </p>
  
      <div *ngIf="isSubmitted && formControls.client_secret.errors" class="help-block">
        <div *ngIf="formControls.client_secret.errors.required">Password is required</div>
      </div>
  
      <p>
        <input type="submit" value="Log in">
      </p>
    </form>
  </div>